.main{
    color: blue;
}

.unknown{
color: red;
}

.bob{
    width: 250px;
    height: 250px;
}

.poop{
    width: 1000px;
}

.fannon{
    color: brown;
}

.swiper {
    width: 600px;
    height: 300px;
  }
